.container {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

button {
    margin: 5px;
    width: 30px;
    box-shadow: inset 5px 5px 12px white, inset 5px 5px 12px white;
}

input {
    border: none;
}